@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}

.section .inner {
    width: 1440px;
    margin: 160px auto; 
}
.section .inner h2 {
    font-size: 30px;
    margin-bottom: 40px;
}
.section .inner .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
}
.section .inner .list .item {
    width: 321px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}
.section .inner .list .item img {
    width: 100%;
    height: 321px;
    display: block;
    object-fit: cover;
}
.section .inner .list .item p {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 24px;
    font-weight: bold;
    background: #000000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    padding: 20px;     
    color: #fff;
}