@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.section .inner {
    width: 1280px;
    margin: 160px auto;
}
.section .inner h2 {
    font-size: 70px;
    margin-bottom: 40px;
}
.section .inner .list {
    display: flex;
    justify-content: space-between;
}
.section .inner .list .left {
    width: 627px;
    height: 627px;
}
.section .inner .list .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section .inner .list .right {
    width: 626px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
}
.section .inner .list .right .item {
    width: 299px;
    height: 299px;
    /* margin-bottom: 30px; */
}
.section .inner .list .right .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}