@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

.main_visual{
    height: 800px;
    background-color: antiquewhite;
}
.section-01{
    height: 800px;
    background-color: rgb(141, 212, 189);
}
.section-02{
    height: 800px;
    background-color: rgb(148, 190, 203);
}
