@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{list-style: none;}
a{
    text-decoration: none;
    color: inherit;
}

.list .item{
    width: 500px;
    border: 1px solid black;
    margin: 30px;
}
.list .item .image_box{
    width: 100%;
    height: 500px;
}
.list .item .image_box img{
    width: 100%;
    height:100%;
    object-fit: cover;
}
.list .item p{
    padding: 20px 0;
    text-align: center;
    font-size: 20px;
}
.list .item:first-child{
    transform: scaleX(2);
}
.list .item:nth-child(2){
    overflow: hidden;
}
.list .item:nth-child(2) .image_box img{
    transform: scaleY(1.5);
}
.list .item:nth-child(3){
    overflow: hidden;
}
.list .item:nth-child(3) .image_box img{
    transform: scale(2);
}
.list .item:nth-child(4) .image_box{
    overflow: hidden;
}
.list .item:nth-child(4) .image_box img{
    transition: all 1s;
}
.list .item:nth-child(4):hover .image_box img{
    transform: scale(1.5);
}
