@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.list .item{
    width: 500px;
    border: 1px solid black;
    margin: 30px;
}
.list .item .image_box{
    height: 500px;
}
.list .item .image_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.list .item p{
    text-align: center;
}
.list .item:first-child:hover{
    transform: rotateX(180deg);
    transition: all 0.5s;
}
.list .item:nth-child(2):hover .image_box img{
    transform: rotateY(180deg);
    transition: all 0.5s;
}
.list .item:last-child .image_box{
    overflow: hidden;
}
.list .item:last-child .image_box img{
    transition: all 0.5s;
}
.list .item:last-child:hover .image_box img{
    transform: rotate(180deg) scale(0);
}