@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

.list .item{
    width: 500px;
    border: 1px solid #333;
    margin: 50px;
}
.list .item .image_box{
    width: 500px;
    height: 500px;
}
.list .item .image_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.list .item p{
    font-size: 20px;
    color: rgb(30, 69, 129);
    text-align: center;
    padding: 10px 0;
}
.list .item:first-child:hover{
    transform: skewX(45deg);
    transition: all 0.7s;
}
.list .item:nth-child(2) .image_box{
    overflow: hidden;
}
.list .item:nth-child(2):hover .image_box img{
    transform: skewY(45deg);
}
.list .item:last-child:hover .image_box{
    transform: skew(45deg, 150deg);
    transition: all 0.7s;
}