@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.list .item{
    width: 500px;
    border: 1px solid #333;
    margin: 50px;
}
.list .item .image_box{
    height: 500px;
}
.list .item .image_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.list .item:first-child .image_box img{
    transform: translateY(-50px);
}
.list .item:nth-child(2) .image_box img{
    transform: translateX(100%);
}
.list .item:last-child .image_box img{
    transform: translate(50px, 50%);
}