@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

.main_visual{
    height: 100vh;
    position: relative;
}
.main_visual video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.main_visual .text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main_visual .text h1{
    color: white;
    font-size: 40px;
    margin-bottom: 25px;
}
.main_visual .text a{
    color: #333;
    background-color: white;
    padding: 10px 20px;
    display: inline-block;
    /*width: 150px
    height: 60px
    display: block;
    margin: 20px auto 0*/
}