@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

.visual{
    width: 1000px;
    background-color: aquamarine;
    position: relative;
}
.visual .inner{
    padding-bottom: 56.25%;
}
.visual iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}