@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

.header{
    height: 100px;
    border-bottom: 1px solid #333; 
}
.header .inner{
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .inner .nav .gnb {
    display: flex;
}
.header .inner .nav .gnb > li{
    position: relative;
}
.header .inner .nav .gnb > li .depth-01{
    font-size: 18px;
    background-color: rgb(182, 133, 224);
    display: block;
    line-height: 100px;
    padding: 0 40px;
}
.header .inner .nav .gnb > li .depth-02{
    width: 100%;
    background-color: rgb(147, 216, 193);
    position: absolute;
    top: 100px;
    left: 0;
    display: none;
}
.header .inner .nav .gnb > li .depth-02 li{
    text-align: center;
    padding: 10px 0;
}
.header .inner .nav .gnb > li:hover .depth-02{
    display: block;
}