@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

.header {
    height: 100px;
    position: relative;
    z-index: 999;
}
.header .inner{
    width: 1280px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.header .inner .logo{
    height: 60px;
}
.header .inner .logo a{
    height: 100%;
    display: block;
}
.header .inner .logo a img{
    height: 100%;
}


.header .inner .nav .gnb{
    display: flex;
}
.header .inner .nav .gnb > li{
    position: relative;
}
.header .inner .nav .gnb > li .depth-01{
    display: block;
    line-height: 100px;
    padding: 30px;
}
.header .inner .nav .gnb > li .depth-02{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    background-color: beige;
    border: 1px solid #333;
    white-space: nowrap;
    display: none;
}
.header .inner .nav .gnb > li:hover .depth-02{
    display: block;
}
.header .inner .nav .gnb > li .depth-02 li:hover{
    background-color: aquamarine;
}
.header .inner .nav .gnb > li .depth-02 li a{
    display: block;
    padding: 12px 20px;
}
.header .inner .util{
    display: flex;
    gap: 16px;
}

.main_visual{
    height: 100vh;
    position: relative;
}
.main_visual img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main_visual .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    text-align: center;
}
.main_visual .text h2{
    font-size: 60px;
    margin-bottom: 20px;
    color: white;
}
.main_visual .text a{
    width: 160px;
    height: 50px;
    background-color: beige;
    border-bottom: 1px solid #333;
    margin: 0 auto;
}