@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

body.active{
    overflow: hidden;
}
.header{
    height: 100px;
}
.header .inner{
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .inner .logo{
    height: 70px;
}
.header .inner .logo a{
    display: block;
    height: 100%;
}
.header .inner .logo a img{
    height: 100%;
}

.header .inner .menu_btn{
    height: 40px;
    border: 0;
    background-color: transparent;
}
.header .inner .menu_btn img{
    height: 100%;
}

.header .inner .nav{
    width: 50%;
    height: 100%;
    background-color: antiquewhite;
    position: fixed;
    right: -100%;
    top: 100px;
    padding: 70px;
    /* display: none; */
    transition: right 0.7s linear;
    overflow-y: auto;
}
.header .inner .nav::-webkit-scrollbar{
    display: none;
    /* 스크롤 모양 없애기 */
}
.header .inner .nav.active{
    /* display: block; */
    right: 0;
}


.header .inner .nav .gnb > li{
    margin-bottom: 32px;
}
.header .inner .nav .gnb > li .depth-01{
    font-size: 20px;
    font-weight: bold;
}

.header .inner .nav .gnb > li .depth-02 li{
    color: rgb(0,0,0,0.724);
    padding: 10px 0;
}

.main_visual{
    height: 150vh;
}