@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

/* section-01 */
.section-01{
    background-color: aquamarine;
    padding: 160px 0;
}
.section-01 .inner{
    max-width: 1440px;
    width: calc(100% - 30px); /* -  양 옆 공백필수 */
    margin: 0 auto; 
}
.section-01 .inner h2{
    font-size: 48px;
    margin-bottom: 40px;
}
.section-01 .inner .list{
    display: flex;
    justify-content: space-between;
}
.section-01 .inner .list .item{
    width: 24%;
}

.section-01 .inner .list .item a .image{
    width: 100%;
    height: 400px;
}
.section-01 .inner .list .item a .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* section-02 */
.section-02{
    background-color: beige;
    padding: 160px 15px;
}
.section-02 .inner{
    max-width: 1440px;
    width: calc(100% - 30px);
    margin: 0 auto;
}
.section-02 .inner .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-02 .inner .item:first-child{
    margin-bottom: 100px;
}
.section-02 .inner .item:first-child .image{
    order: 1;
}
.section-02 .inner .item .image{
    width: 626px;
    height: 500px;
}
.section-02 .inner .item .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-02 .inner .item .text{
    flex-shrink: 0;
}
.section-02 .inner .item .text strong{
    font-size: 40px;
}
.section-02 .inner .item .text p{
    font-size: 24px;
    margin-top: 20px;
}


/* section-03 */
.section-03{
    background-color: blueviolet;
    padding: 160px 0;
    
}
.section-03 .inner{
    max-width: 1440px;
    width: calc(100% - 30px);
    margin: 0 auto;
}
.section-03 .inner h2{
    font-size: 48px;
    margin-bottom: 40px;
}
.section-03 .inner .list{
    display: flex;
    justify-content: space-between;
}
.section-03 .inner .list .item{
    width: 24%;
    position: relative;
}
.section-03 .inner .list .item a .image{
    width: 100%;
    height: 400px;
}
.section-03 .inner .list .item a .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-03 .inner .list .item a .text{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    display: none;
}
.section-03 .inner .list .item:hover a .text{
    display: flex;
}


@media screen and (max-width: 1024px) {
    .section-01{
        padding: 80px 0;
    }
    .section-01 .inner .list{
        flex-wrap: wrap;
        row-gap: 40px;
    }
    .section-01 .inner .list .item{
        width: 49%;
    }
    .section-02 .inner .item{
        flex-wrap: wrap;
    }
    .section-02 .inner .item .image{
        width: 100%;
     }
    .section-02 .inner .item:first-child .image{
        order: 0;
    }
    .section-02 .inner .item .text strong{
        font-size: 24px;
    }
    .section-02 .inner .item .text p{
        font-size: 18px;
    }
}

@media screen and (max-width: 900px) {
    .section-03 .inner .list{
        flex-wrap: wrap;
        row-gap: 24px;
    }
    .section-03 .inner .list .item{
        width: 49%;
    }
    
}

@media screen and (max-width: 480px) {
    .section-01 .inner h2{
        font-size: 28px;
        margin-bottom: 20px;
    }
    .section-01 .inner .list .item a .image {
        height: 240px;
    }

   
    .section-03 .inner .list .item{
        width: 100%;
    }
    .section-03 .inner .list .item a .text{
        height: auto;
        position: static;
        background-color: transparent;
        color: #333;
        margin-top: 12px;
    }
    .section-03 .inner .list .item a .image{
        height: 200px;
    }
}