@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

.mobile{
    display: none;
}

.header{
    height: 100px;
    border-bottom: 1px solid #333;
}
.header .inner{
    height: 100%;
    max-width: 1280px;
    width: calc(100% - 40px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .inner .logo{
    height: 60px;
}
.header .inner .logo a{
    height: 100%;
    display: block;
}
.header .inner .logo a img{
    height: 100%;
}
.header .inner .nav_pc .gnb{
    display: flex;
}
.header .inner .nav_pc .gnb > li{
    position: relative;
}
.header .inner .nav_pc .gnb > li .depth-01{
    display: block;
    line-height: 100px;
    padding: 0 40px;
}
.header .inner .nav_pc .gnb > li .depth-02{
    position: absolute;
    top: 100px;
    left: 0;
    border: 1px solid #333;
    width: 100%;
    text-align: center;
    display: none;
}
.header .inner .nav_pc .gnb > li:hover .depth-02{
    display: block;
}

@media screen and (max-width: 1024px) {
    .pc{
        display: none;
    }
    .mobile{
        display: block;
    }
    .header .inner .nav_btn{
        border: 0;
        background-color: transparent;
        height: 40px;
    }
    .header .inner .nav_mobile{
        position: fixed;
        width: 80%;
        height: 100%;
        right: -100%;
        top: 0px;
        background-color: rgb(86, 120, 168);
        transition: right 0.7s;
    }
    .header .inner .nav_mobile.active{
        right: 0;
    }
}