@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    line-height: 1;
}

.section {
    background-color: aquamarine;
    padding: 160px 0;
}

.section .inner {
    max-width: 1280px;
    width: calc(100%-40px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.section .inner .item {
    width: 23.35%;
}

.section .inner .item img {
    width: 100%;
    height: 303px;
    object-fit: cover;
}

.section .inner .item .text {
    margin-top: 20px;
}

.section .inner .item .text strong {
    font-size: 32px;
}

.section .inner .item .text p {
    font-size: 20px;
    margin-top: 12px;
    line-height: 1.3;
}

@media screen and (max-width: 1024px) {
    .section .inner {
        flex-wrap: wrap;
        row-gap: 24px;
    }

    .section .inner .item {
        width: 48.61%;
    }
}

@media screen and (max-width:640px) {
    .section{
        width: calc(100%-32px);
    }
    .section .inner .item{
        width: 47.52%;
    }
    .section .inner .item img{
        height: 165px;
    }
    .section .inner .item .text strong{
        font-size: 18px;
    }
    .section .inner .item .text p{
        font-size: 16px;
    }
}