@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

body{
    line-height: 1;
}

.section .inner{
    max-width: 1440px;
    width: calc(100%-30px);
    margin: 150px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 38px;
}
.section .inner > div{
    width: 31.59%;
    border-radius: 10%;
    overflow: hidden;
    /* 455 / 1440 x 100 */
}
.section .inner > div .image{
    /* height: 455px; */
    padding-bottom: 100%;
    position: relative;
}
.section .inner > div .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
}
.section .inner .title{
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section .inner .item{
    position: relative;
}
.section .inner > div:nth-child(2){
    order: -1;
}
.section .inner .item.item-big{
    width: 48.75%;
}
.section .inner .item.item-big .image{
    padding-bottom: 64.81%;
    /* 세로 / 가로 x 100 */
}
.section .inner .item .text{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    display: none;
}

.section .inner .item:hover .text{
    display: flex;
}

@media screen and (max-width:1024px) {
    .section .inner .item .text{
        height: auto;
        display: flex;
        background: #000000;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);;
        top: auto;
        bottom: 0;
        padding: 50px 0 20px;
    }
}

@media screen and (max-width:700px) {
    .section .inner > div:nth-child(2){
        order: 0;
    }
    .section .inner .title{
        border: 0;
        width: 100%;
    }
    .section .inner > div{
        width: 47.77%;
        /* 172 / 360 x 100 */
    }
    .section .inner .item.item-big {
        width: 47.77%;
    }
    .section .inner .item.item-big .image{
        padding-bottom: 100%;
    }
    .section .inner .item .image {
        border-radius: 10px;
        overflow: hidden;
    }
    .section .inner .item .text{
        position: static;
        background-color: white;
        color: #333;
        padding: 0;
        margin-top: 10px;
    }
}