@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

.box{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.box p{
    width: 300px;
    border: 1px solid #333;
}


/* 글자 모양 */
.box p:nth-child(1){
    font-style: italic;
    /* font-style: normal(기본값) */
}

/* 글자 선 표현 */
.box p:nth-child(2){
    text-decoration: underline;
    /* none
    underline(밑줄 표시)
    overline (윗줄 표시)
    line-through(취소선 표시(글 가운데) */
}

/* 글자 정렬 */
.box p:nth-child(3){
    text-align: center;
    /* left(글자 수가 많으면 좌측정렬이 가장 깔끔)
    center
    right
    justify(양끝정렬(오른쪽 여백없이 채워줌 (장점: / 깔끔함 단점: 글자간 간격이 차이남)) */
}

/* 글자 줄 간격(행간) */
.box p:nth-child(4){
    line-height: 1.8;/* % 사용 X  숫자나 px사용  */
    /* 가독성 높은 값 1.3 ~ 1.8 */
}

/* 글자 좌우 간격(자간) */
.box p:nth-child(5){
    /* 글자 사이 */
    letter-spacing: 10px; /* 음수 양수 둘 다 사용 가능 */

    /* 단어 사이 */
    word-spacing: 20px; /* 음수 양수 둘 다 사용 가능 */
}

/*  */
.box p:nth-child(6){
    word-break: keep-all;
    /* break-all : 국문 기본값(글자 줄바꿈)
    keep-all : 영문 기본값 (단어 줄바꿈) */
}

/* 글자 세로로 작성 */
.box p:nth-child(7){
    writing-mode: vertical-rl;
    /* vertical-lr (왼쪽에서 오른쪽으로)
    vertical-rl (오른쪽에서 왼쪽으로) */
}

/* 글자 줄바꿈 안되게 설정 */
.box p:nth-child(8){
    white-space: nowrap;
}

/* 말줄임표 */
.box p:nth-child(9){
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* 몇 줄까지 보여줄지 설정 */
    overflow: hidden;
}