@charset "utf-8";
@import url('reset.css');
@import url('47common.css');


/* main */
/* main_visual */
.main_visual{
    height: calc(100vh - 100px);
    position: relative;
}
.main_visual img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main_visual .text{
    max-width: 1400px;
    width: calc(100% - 36px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(19, 43, 94);
}
.main_visual .text h2{
    font-size: 80px;
    font-family: 'SB-Aggro';
    font-weight: bold;
    margin-bottom: 30px;
}
.main_visual .text p{
    font-size: 20px;
}

.section-01{
    padding: 160px 0;
}
.section-01 .list{
    display: flex;
    justify-content: space-between;
}
.section-01 .list .item{
    width: 23.21%;
}
.section-01 .list .item a{}
.section-01 .list .item a .image{
    /* height: 357px; */
    padding-bottom: 109.84%;
    position: relative;
}
.section-01 .list .item a .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.section-01 .list .item a p{}


/* footer */
.footer{
    background-color: #333;
    color: #fff;
    padding: 80px 0;
}