@charset "utf-8";
/* 웹폰트 */
@import url('../font/aggro/stylesheet.css');/* ../ =>원래있던 폴더 밖으로 나가는 경로 */

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}
body{
    font-family: 'Pretendard';
    font-weight: 400;
}

.inner{
    max-width: 1400px;
    width: calc(100% - 32px);
    margin: 0 auto;
}

.main .title{
    margin-bottom: 60px;
}
.main .title h3{
    font-size: 60px;
}
.main .title p{
    font-size: 20px;
}
.main .title h3{
    font-family: 'SB-Aggro';
    font-weight: bold;
}


/* header */
.header{
    height: 100px;
}
.header .inner{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .inner .logo{
    height: 40px;
}
.header .inner .logo a{
    height: 100%;
    display: block;
}
.header .inner .logo a img{
    height: 100%;
}
.header .inner .nav .gnb{
    display: flex;
}
.header .inner .nav .gnb > li{
    position: relative;
}
.header .inner .nav .gnb > li .depth-01{
    display: block;
    line-height: 100px;
    padding: 0 40px;
}
.header .inner .nav .gnb > li .depth-02{
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    background-color: #fff;
    text-align: center;
    display: none;
}
.header .inner .nav .gnb > li .depth-02 li a{
    display: block;
    padding: 10px;
}
.header .inner .util{
    display: flex;
    gap: 16px;
}

