@charset "utf-8";
@import url('reset.css');


.menu{
    max-width: 640px;
    margin: 0 auto;
    border: 1px solid #333;
    padding: 20px;
}
.menu ul{
    display: flex;
    gap: 16px;
    margin: 20px 0;
    overflow: auto;
}
.menu ul::-webkit-scrollbar{
    display: none;
}
.menu ul li{
    height: 40px;
    background-color: aquamarine;
    padding: 0 30px;
    border-radius: 20px;
    line-height: 40px;
}
.menu .image img{
    width: 100%;
}