@charset "utf-8";
@import url('reset.css');

html, body{
    /* font-size: 10px; */
    font-size: 62.5%; /* 8px = 50% */
}

/* .text{
    width: 400px;
    font-size: 30px;
    padding: 20px;
} */
.text{
    width: 40rem;
    font-size: 3rem;
    padding: 2rem;
    background-color: skyblue;
}


.title h2{
    font-size: 6rem;
}
.title p{
    font-size: 2rem;
}

@media screen and (max-width: 960px) {
    html, body{
        /* font-size: 8px; */
        font-size: 50%;
    }
    .title h2{}
    .title p{}
}

@media screen and (max-width: 480px) {
    html, body{
        /* font-size: 6px; */
        font-size: 37.5%;
    }
    .title h2{}
    .title p{
        /* font-size: 14px; */
        font-size: 2.33rem;
        /* 14 / 6 => 2.33 */
    }
}