@charset "utf-8";
@import url('reset.css');


.section {
    max-width: 1280px;
    width: calc(100% - 40px);
    margin: 100px auto;

    h2 {
        font-size: 50px;
        margin-bottom: 40px;
    }

    .list {
        display: flex;
        justify-content: space-between;

        .item {
            width: 32%;
            &:first-child {
                background-color: blue;
            }

            .image {
                height: 400px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }/* img */
            }/* .image */ 
        }/* .item */

        @media screen and (max-width: 640px) {
            /* flex-wrap: wrap; */
            .list {
                flex-wrap: wrap;

                .item {
                    width: 100%;
                }/* .item */
            }/* .list */
        }/* 640 */
    }/* .list */
}/* .section */

