@charset "utf-8";
@import url('reset.css');

.header{
    height: 100px;
    background-color: antiquewhite;
    position: relative;
}
.header .inner{
    max-width: 1280px;
    width: calc(100% - 40px);
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .inner .logo{}
.header .inner .logo a{}
.header .inner .nav{}
.header .inner .nav .gnb{
    display: flex;
}
.header .inner .nav .gnb > li{
    position: relative;
}
.header .inner .nav .gnb > li .depth-01{
    display: block;
    line-height: 100px;
    padding: 0 30px;
}
.header .inner .nav .gnb > li .depth-02{
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 9;
    border: 1px solid #333;
    background-color: lightgray;
    text-align: center;
    display: none;
}

.header .inner .nav .gnb > li .depth-02 li{}
.header .inner .nav .gnb > li .depth-02 li a{
    display: block;
    padding: 10px 20px;
}

.header .bg{
    width: 100%;
    height: 400px;
    background-color: rgb(141, 105, 76);
    position: absolute;
    top: 100px;
    left: 0;
    display: none;
}

/* 접근성 홈페이지 제작 시 
내용을 읽고, 눈에는 안보이도록 제작 */
.header .bg span{
    position: absolute;
    left: -99999999px;
}