@charset "utf-8";
@import url('reset.css');


.section{
    max-width: 640px;
    background-color: #eee;
    padding: 100px 20px;
    margin: 0 auto;
}

.section .inner{}
.section .inner .item_detail{}
.section .inner .item_detail img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.section .inner .item_detail .title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
.section .inner .item_detail .text{
    line-height: 1.3;
}

.section .inner .list{
    margin-top: 20px;
    display: flex;
    gap: 16px;
}
.section .inner .list .item{
    background-color: #fff;
    padding: 12px;
}
.section .inner .list .item img{
    width: 100%;
    height: 100px;
    object-fit: cover;
}
.section .inner .list .item .title{}
.section .inner .list .item .text{
    /* 말 줄임표 */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    line-height: 1.3;
    display: none;
}