@charset "utf-8";
@import url('reset.css');

.nav_wrap{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px;
}
.nav_wrap .nav{
    width: 30%;
    border: 1px solid #333;
}
.nav_wrap .nav .gnb{}
.nav_wrap .nav .gnb > li{}
.nav_wrap .nav .gnb > li a.depth-01{
    height: 60px;
    display: block;
    background-color: antiquewhite;
    line-height: 60px;
    padding: 0 20px;
    position: relative;
}
.nav_wrap .nav .gnb > li a.depth-01::before{ /* brfore는 가로 세로 값 필수 작성해야함 */
    content: '';
    background: url(../img/weui_arrow-outlined.svg) center center / 100% no-repeat;
    width: 20px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 20px;
}
.nav_wrap .nav .gnb > li a.depth-01.active::before{
    transform: rotate(180deg);
}


.nav_wrap .nav .gnb > li .depth-02{
    display: none;
}
.nav_wrap .nav .gnb > li .depth-02 li{
    border-bottom: 1px solid #333;
}
.nav_wrap .nav .gnb > li .depth-02 li a{
    display: block;
    padding: 20px; /* a에게 패딩을 주어야 잡히는 범위가 넓어짐 */
}

.nav_wrap .nav.nav-01 .gnb > li a.depth-01.active{
    background-color: lightpink;
}
.nav_wrap .nav.nav-02 .gnb > li a.depth-01.active{
    background-color: coral;
}
.nav_wrap .nav.nav-03 .gnb > li a.depth-01.active{
    background-color: rgb(165, 255, 80);
}
