@charset "utf-8";
@import url('reset.css');

.cursor{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.cursor .in{
    width: 100%;
    height: 100%;
    background-color: rgb(10, 50, 87);
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: 0.5s;
}
.cursor.active .in{
    transform: scale(1);
}
.header{
    height: 100px;
    background-color: rgb(245, 238, 228);
}
img{
    width: 500px;
    margin:  100px auto;
    display: block;
    cursor: none;
}