@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

.box{
    width: 400px;
    margin: 0 auto;
    
}
.box .btn{
    width: 150px;
    height: 50px;
    border-radius: 30px;
    margin: 0 auto;
    display: block;
}
.box img{
    width: 100%;
    object-fit: cover;
    padding: 10px;
}
.box .text{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}