@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

.box{
    width: 300px;
    margin: 0 auto;
}
.box img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}
.box .box_btn{
    width: 100%;
    height: 50px;
    border: 0;
    background-color:rgb(71, 97, 154);
    color: #fff;
}

.section{
    padding-top: 50px;
    width: 300px;
    margin: 0 auto;
}
.section img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}
.section .section-btn{
    width: 100%;
    height: 50px;
    border: 0;
    background-color: #9ac66d;
}