@charset "utf-8";
@import url('reset.css');

body {
    height: 3000px;
}
.btn {
    position: fixed;
    right: 50px;
    bottom: 50px;
}
.btn button {
    width: 120px;
    height: 120px;
    background-color: royalblue;
    margin: 20px 0;
    display: block;
    border-radius: 50%;
    color: white;
    font-size: 14px;
    text-align: center;
    line-height: 100px;
}
