@charset "utf-8";
@import url('reset.css');

.section {
    max-width: 1280px;
    width: calc(100% - 40px);
    margin: 100px auto;
}

.section h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}

.section .swiper-slide img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.section .swiper-wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
}

.section .swiper-wrapper .swiper-slide {
    width: 32%;
}


/* 화면의 크기가 959px이하일 때 적용 */
@media screen and (max-width: 959px) {
    .section .swiper-wrapper {
        flex-wrap: nowrap
    }
}