@charset "utf-8";
@import url('reset.css');

body {
    height: 3000px;
}
.header {
   width: 100%; 
   height: 100px;
   background-color: royalblue;
   position: fixed;
   top: 0;
   left: 0;
   font-size: 30px;
   text-align: center;
   line-height: 100px;
   color: #fff;
   transition: top 0.7s;
}
.header.active {
    top: -100px;
}