@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

.section{
    max-width: 1280px;
    width: calc(100%-30px);
    margin: 50px auto;
}
.section .list .item{
    display: none;
}
.section .list .item img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.section .list .item.active{
    display: block;
}
.section .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
}
.section .btn .prev{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    font-size: 20px;
}
.section .btn .next{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    font-size: 20px;
}