@charset "utf-8";
@import url('reset.css');

.top_banner ul li{
    height: 40px;
    background-color: rgb(83, 109, 148);
    text-align: center;
    line-height: 40px;
    color: #fff;
    display: none;
}
.top_banner ul li.on{
    display: block;
}
.header{
    height: 100px;
    background-color: aliceblue;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
}