@charset "utf-8";
@import url('reset.css');

.menu-01{
    margin: 100px;
    position: relative;
}
.menu-01 ul{
    height: 50px;
    display: flex;
}
.menu-01 ul li{
    width: 100px;
    border: 1px solid #333;
    text-align: center;
    line-height: 50px;
}
.menu-01 .menu_bar{
    width: 100px;
    height: 3px;
    background-color: antiquewhite;
    position: absolute;
    bottom: 0;
    left: 0;
}
.menu-01 .menu_bar span{
    position: absolute;
    left: -99999999px;
    /* 존재는 하지만 눈에 안보이게 할때는 display: none;이 아니라 꼭 포지션 써서 날려버리기 */
}


.menu-02{
    margin: 100px;
    position: relative;
}
.menu-02 ul{
    display: flex;
}
.menu-02 ul li{
    height: 50px;
    border: 1px solid #333;
    padding: 0 30px;
    line-height: 50px;
}
.menu-02 .menu_bar{
    width: 100px;
    height: 5px;
    background-color: rgb(27, 42, 90);
    position: absolute;
    bottom: 0;
    left: 0;
}
.menu-02 .menu_bar span{
    position: absolute;
    left: -99999999px;
}