@charset "utf-8";
@import url('reset.css');

.list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.list .item{
    width: 30%;
    margin: 20px;
}
.list .item button{
    height: 60px;
    border: 1px solid #333;
    padding: 0 28px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.list .item button:hover{
    background-color: aquamarine;
}
.list .item .image{
    /* height: 500px; */
    padding-bottom: 100%; /* 패딩바텀쓸경우 포지션 무조건 같이 작성 필수 */
    position: relative;
}
.list .item .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}