@charset "utf-8";
@import url('reset.css');

.loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading div{
    display: flex;
    gap: 10px;
    font-size: 50px;
}
.loading div span{
    opacity: 0;
}
.loading.active div span:first-child{
    opacity: 1;
    transition: opacity 0.5s 0.5s;
}
.loading.active div span:nth-child(2){
    opacity: 1;
    transition: opacity 0.5s 1s;
}
.loading.active div span:nth-child(3){
    opacity: 1;
    transition: opacity 0.5s 1.5s;
}
.loading.active div span:nth-child(4){
    opacity: 1;
    transition: opacity 0.5s 2s;
}