@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

.header{
    height: 100px;
    border-bottom: 1px solid #333;
}
.header .inner {
    max-width: 1280px;
    width: calc(100%-30px);
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header .inner .nav .gnb{
    display: flex;
    gap: 40px;
}
.header .inner .search_wrap button{
    width: 60px;
    height: 60px;
}
.header .inner .search_wrap button.close_btn{
    display: none;
}
.header .inner .search_wrap .search_box{
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    background-color: rgb(169, 196, 127);
    padding: 20px;
    display: none;
}
.header .inner .search_wrap .search_box input{
    width: 100%;
    height: 50px;
    padding: 0 20px;
}
