@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

.box{
    width: 500px;
}
.box img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.box .btn{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.box .btn button{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 1px solid #333;
    background-color: beige;
    cursor: pointer;
}