@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

.section-01{
    width: 1200px;
    margin: 100px auto;
    position: relative;
}
.section-01 .swiper{
    position: static;
}
.section-01 .swiper-slide{
    height: 400px;
}
.section-01 .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-01 .swiper-button-next, 
.section-01 .swiper-rtl .swiper-button-prev {
    background: url('../img/ooui_next-ltr.png') center center / 100% no-repeat;    
    right: -4 0px;
}
.section-01 .swiper-button-prev, 
.section-01 .swiper-rtl .swiper-button-next {
    background: url('../img/ooui_next-rtl.png') center center / 100% no-repeat;
    left: -40px;
}
.section-01 .swiper-button-next:after, 
.section-01 .swiper-button-prev:after{
    display: none;
}
