@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

.section-01{
    width: 1280px;
    margin: 100px auto;
}
.section-01 .swiper-slide img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
    
.section-01 .swiper-slide .text{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.section-01 .swiper-slide.swiper-slide-next .text{
    display: block;
}

.section-02{
    width: 1280px;
    margin: 100px auto;
}
.section-02 .swiper-slide img{
    width: 100%;
    height: 400px;
}
.section-02 .swiper-slide p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    font-weight: bold
}
.section-02 .swiper-slide{
    transform: scale(0.8);
}
.section-02 .swiper-slide.swiper-slide-next{
    z-index: 9;
}
.section-02 .swiper-slide.swiper-slide-next img{
    transform: scale(1.5);
}