@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

.section{
    position: relative;
}
.section h2{
    width: 1280px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.section .swiper-wrapper{
    width: 1280px;
    margin: 0 auto;
}
.section .swiper{
    position: static;
}
.section .swiper.sectionSwiper .swiper-slide img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.section .swiper-horizontal>.swiper-pagination-bullets, 
.section .swiper-pagination-bullets.swiper-pagination-horizontal, 
.section .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: -20px;
}



.section-02{
    margin: 100px 0;
    position: relative;
}
.section-02 h2{
    margin-bottom: 40px;
    text-align: center;
}
.section-02 .swiper.mySwiper .swiper-slide img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
}
.section-02 .swiper.mySwiper .swiper-slide .text{
    color: white;
    background-color: rgba(0, 0, 0, 0.453);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    display: none;
}
.section-02 .swiper.mySwiper .swiper-slide .text strong{
    font-size: 32px;
}
.section-02 .swiper.mySwiper .swiper-slide .text p{
    font-size: 20px;
}
.section-02 .swiper.mySwiper .swiper-slide.swiper-slide-next + .swiper-slide .text{
    display: flex;
}