@charset "utf-8";
@import url('../../css/reset.css');

body{
    line-height: normal;
}
.header{
    width: 100%;
    line-height: 100px;
    text-align: center;
    height: 100px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    font-size: 20px;

}
#section0{
    background: url('../img/이미지1.jpg') center center / cover no-repeat;
}
#section1{
    background: url('../img/이미지2.jpg') center center / cover no-repeat;
}
#section1 .inner {
    max-width: 1280px;
    width: calc(100% - 40px);
    margin: 0 auto;
}
#section1 .inner h2{
    font-size: 40px;
    color: #fff;
    margin-bottom: 40px;
}
#section1 .inner .list{
    display: flex;
    justify-content: space-between;
}
#section1 .inner .list .item{
    width: 24%;
    background-color: #fff;
}
#section2{
    background: url('../img/이미지3.jpg') center center / cover no-repeat;
}
#section2 .inner{
    max-width: 1280px;
    width: calc(100% - 40px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
#section2 .inner .item{
    width: 24%;
}
#section2 .inner .item .image{
    padding-bottom: 100%;
    position: relative;
}
#section2 .inner .item .image img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#section2 .inner .item strong{
    background-color: #fff;
    display: block;
}
#footer{
    background-color: #333;
    color: #fff;
    padding: 100px 0;
}